ul{
	padding: 0;
	margin: 0;
}
li{
	list-style: none;
	color: #000;
	margin: 10px 20px;
	text-align: center;
	box-sizing: border-box;
	width: 90px;	
	float: left;
	margin-top: 40px;	
}
li:hover{
	color: lightgreen;
}
.old{
	clear: both;
}
.shou{
	float: left;
	background:crimson;
	box-sizing: border-box;
	height: 100px;
}
#shi{
	box-sizing: border-box;
	margin-right:100px;
	padding-top: 10px;	
}
